@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "Amiri", serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Amiri", serif; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  color: #b4ba98;
  font-size: 24px;
  font-weight: 400;
  background-color: #1a1c0f; }
  body.lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

/*.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}*/
.ibg {
  position: relative; }
  .ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover; }

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video,
  .video iframe,
  .video object,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }

.scroll {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1111;
  background: #000; }

.form__btn {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

.form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }

.form__column {
  padding: 0px 15px; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px; }

textarea.input {
  resize: none;
  padding: 0px 0px; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px 0px;
  color: #ffffff;
  font-family: Amiri;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  width: 222px;
  height: 57px;
  border: 2px solid #404429;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .btn:hover {
    border: 2px solid #323522; }
  .btn.fw {
    width: 100%; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }

.section {
  position: relative; }

.section-intro {
  background-image: url(../img/intro-bg.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%; }
  .section-intro__content {
    max-width: 707px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    text-align: center;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-intro__heading span {
    color: #cdb378;
    font-size: 24px;
    line-height: 30px;
    font-style: italic; }
  .section-intro__title {
    font-size: 40px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Cinzel Decorative";
    font-weight: 900;
    color: #ffffff; }
    @media (max-width: 992.98px) {
      .section-intro__title {
        margin-bottom: 30px; } }
    @media (min-width: 992.98px) {
      .section-intro__title {
        font-size: 60px; } }
    .section-intro__title:after, .section-intro__title:before {
      content: "";
      height: 4px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0px 5px;
      background-color: #cdb378; }
      @media (min-width: 992.98px) {
        .section-intro__title:after, .section-intro__title:before {
          margin: 0px 15px; } }
  .section-intro__subtitle {
    color: #ffffff;
    font-family: "Cinzel Decorative";
    font-weight: 400;
    line-height: 1.2;
    font-size: 26px;
    margin-bottom: 12px; }
    @media (min-width: 992.98px) {
      .section-intro__subtitle {
        font-size: 36px;
        margin-bottom: 32px; } }
    @media (min-width: 1400px) {
      .section-intro__subtitle {
        line-height: 60.01px; } }
  @media (max-width: 992.98px) {
    .section-intro img {
      width: 105px; } }
  .section-intro__scroll {
    color: #cdb378;
    font-family: "Amiri";
    font-size: 16px;
    font-style: italic;
    position: relative; }
    @media (min-width: 992.98px) {
      .section-intro__scroll {
        margin-top: 140px; } }
    .section-intro__scroll:after {
      content: "\f078";
      font-family: "FontAwesome";
      position: absolute;
      bottom: -30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      font-style: normal;
      font-size: 24px; }
    .section-intro__scroll:hover:after {
      -webkit-animation: scroll 2s linear;
      animation: scroll 2s linear; }

@-webkit-keyframes scroll {
  0% {
    bottom: -30px; }
  50% {
    bottom: -45px; }
  100% {
    bottom: -30px; } }

@keyframes scroll {
  0% {
    bottom: -30px; }
  50% {
    bottom: -45px; }
  100% {
    bottom: -30px; } }

@media (min-width: 767.98px) {
  .section__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.section__content {
  padding: 50px 30px 10px 50px; }
  @media (max-width: 576.98px) {
    .section__content {
      padding-left: 10px; } }
  @media (min-width: 992.98px) {
    .section__content {
      padding: 75px 0px 0px 75px;
      margin-right: 40px; } }
  @media (min-width: 1800px) {
    .section__content {
      padding: 102px 0px 0px 215px;
      margin-right: 40px; } }

.section__heading {
  display: inline-block;
  text-align: left;
  color: #1a1c0f;
  font-family: "Cinzel Decorative";
  font-size: 23px;
  font-weight: 900;
  line-height: 33.01px; }
  @media (min-width: 767.98px) {
    .section__heading {
      font-size: 60px;
      line-height: 72.01px; } }

.section__title {
  color: #cdb378;
  font-family: "Cinzel Decorative";
  font-size: 24px;
  margin-bottom: 17px; }
  @media (min-width: 992.98px) {
    .section__title {
      font-size: 44px; } }
  @media (min-width: 1400px) {
    .section__title {
      font-size: 72px; } }
  .section__title-mod {
    color: #ffffff; }

.section__text {
  line-height: 1.2; }
  @media (max-width: 992.98px) {
    .section__text {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .section__text {
      line-height: 48.01px; } }
  .section__text-mod {
    color: #cdb378;
    margin-bottom: 34px; }
    @media (min-width: 992.98px) {
      .section__text-mod {
        margin-bottom: 134px; } }

@media (min-width: 767.98px) {
  .section__img {
    margin-top: -44px; } }

.section__img img {
  max-width: 100%; }

@media (max-width: 576.98px) {
  .section__img-mod {
    position: absolute;
    height: 100%;
    top: 80px;
    right: -37px; } }

@media (min-width: 576.98px) {
  .section__img-mod {
    margin: -50px 60px -92% 0px; } }

@media (min-width: 1200px) {
  .section__img-mod {
    margin: -150px 113px -92% 0px; } }

@media (min-width: 1400px) {
  .section__img-mod {
    margin: -293px 173px -204px 0px; } }

@media (max-width: 1400px) {
  .section__img-mod img {
    height: 50%; } }

.section-02 {
  max-width: 86%;
  margin-top: -46px;
  -webkit-box-shadow: 0 0 155px rgba(31, 33, 43, 0.65);
  box-shadow: 0 0 155px rgba(31, 33, 43, 0.65);
  background-color: #232615;
  background-image: url(../img/beer-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  z-index: 3;
  padding-bottom: 70px;
  box-shadow: 0 0 155px rgba(31, 33, 43, 0.65); }
  @media (min-width: 1400px) {
    .section-02 {
      margin-top: -146px; } }
  @media (min-width: 1600px) {
    .section-02 {
      margin-top: -246px; } }
  .section-02 .section__text {
    max-width: 894px;
    margin-bottom: 52px; }

.section-bg {
  background-image: url(../img/section-bg.png);
  background-size: cover;
  background-position: center;
  min-height: 430px;
  padding-right: 61px;
  padding-top: 197px;
  text-align: right; }
  @media (min-width: 1200px) {
    .section-bg {
      padding-right: 261px;
      padding-top: 327px;
      min-height: 884px; } }

.section-quality .section__title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 34px;
  line-height: 1.2;
  color: #cdb378; }
  @media (min-width: 992.98px) {
    .section-quality .section__title {
      font-size: 44px;
      margin-bottom: 84px;
      max-width: 525px; } }
  @media (min-width: 1400px) {
    .section-quality .section__title {
      font-size: 60px;
      line-height: 72.01px; } }

@media (min-width: 1400px) {
  .section-quality .section__img {
    margin-top: -140px; } }

@media (min-width: 767.98px) and (max-width: 1400px) {
  .section-quality .section__img img {
    max-width: 169%; } }

@media (min-width: 1400px) {
  .section-quality .section__img img {
    max-width: initial; } }

.section-quality .section__text {
  margin-bottom: 36px; }
  @media (min-width: 992.98px) {
    .section-quality .section__text {
      margin-right: 126px;
      margin-bottom: 66px; } }

.section-start {
  text-align: center;
  padding-bottom: 615px;
  background-image: url(../img/page-bg.png);
  background-size: 190%;
  background-position: -181px 117px;
  background-repeat: no-repeat; }
  @media (min-width: 767.98px) {
    .section-start {
      padding-bottom: 1330px;
      background-position: -204px -386px; } }
  @media (min-width: 1100px) {
    .section-start {
      padding-bottom: 2213px;
      background-size: cover;
      background-position: top right; } }
  .section-start .section__content {
    padding: 92px 0px 0px 0px; }
    @media (min-width: 992.98px) {
      .section-start .section__content {
        padding: 192px 0px 0px 0px; } }
  .section-start .section__text {
    margin-bottom: 52px; }

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100; }
  .popup.active .popup-content {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .popup.show {
    display: block; }
    .popup.show .popup-content {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.popup-table {
  height: 100%;
  table-layout: fixed; }
  .popup-table > .cell {
    height: 100%;
    vertical-align: middle;
    padding: 30px 10px; }

.popup-content {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1230px;
  margin: 0px auto;
  background-color: #fff; }

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: url("../img/icons/close.png") 0 0 no-repeat; }

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0; }

.popup-video__value {
  max-width: 99%;
  height: 99%;
  border: none; }
  .popup-video__value iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 100%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; }
